{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "EsorTestBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block esor_test_body %}

    {% if app.user.username is defined  %}
    <p>Bonjour {{ app.user.username }}</p>

    {% endif  %}
    <h2>Liste des annonces</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('esor_test_view', {'id': advert.id}) }}">
                    {{ advert.titre }}
                </a>
                par {{ advert.auteur }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

    <ul class="pagination">

        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}

        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('esor_test_home', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}